.player-name {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;

  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  border: solid 1px
    light-dark(var(--light-border-color), var(--dark-border-color));
  border-radius: 4px;
  padding: 4px 8px;
}

.add-players-container {
  padding: 32px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  & input {
    min-width: 200px;
  }
}
.add-player-inputs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

#player_name_input {
  padding: 8px 12px;
  border: 1px solid
    light-dark(var(--light-input-border-color), var(--dark-input-border-color));
  border-radius: 4px;
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  flex-grow: 1;
}

p.player-name {
  margin: 0;
  width: 100%;
  padding: 4px 8px;
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  border: solid 1px
    light-dark(var(--light-border-color), var(--dark-border-color));
  border-radius: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
