button {
  all: unset;
  background-color: var(--light-button-color);
  color: white;
  height: 40px;
  padding: 0.25rem 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
