@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --light-bg-color: #f9f9f9;
  --light-input-bg-color: #ffffff;
  --light-input-border-color: #ccc;
  --light-input-focus-border-color: #888;
  --light-text-color: #222;
  --light-border-color: #333;
  --light-button-color: #87a0b2;

  --dark-bg-color: #333;
  --dark-input-bg-color: #ffffff;
  --dark-input-border-color: #ccc;
  --dark-input-focus-border-color: #888;
  --dark-text-color: #222;
  --dark-border-color: #333;
  --dark-button-color: #207741;
}

body {
  margin: 0;
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: light-dark(var(--light-text-color), var(--dark-text-color));
}

.root-app-container {
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  all: unset;
}
